*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.about, .m-v-container {
     width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.about .about-website, .about .offer ,.mission, .vision{
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    width: 50%;

    /* padding: 15px 30px; */
    /* border: 1px solid black; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    /* border-radius: 20px 20px 0px 20px; */
    /* box-shadow: 3px 3px 5px black; */
}
.about-website h2, .offer h2, .mission h2, .vision h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 4px;
    font-weight: 500;
    color: #7a6a58;
}
.offer ul li{
   list-style: none;
}
.about-item:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.team-section {
    margin-top: 40px;
    margin-bottom: 40px;
}