*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:hover,textarea:hover{
    /* background:#03cbf3; */
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #000000;
    transition: 0.4s;
}