*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link:hover{
    background:#03cbf3;
    border-radius: 10px 0px;
    transition: 0.4s;
    box-shadow: 2px 2px 2px #000000;
}
.nav-item .btn{
    background: #ef7f42;
    color: #000000;
    border-color: #ef7f42;
    box-shadow: #000000 2px 2px 2px;
}


.btn{
    background: #ef7f42!important;
    color: #000000;
    border-color: #ef7f42;
    box-shadow: #000000 2px 2px 2px;
}
.btn:hover{
    background:#03cbf3!important;
    color: #000000;
    border-color:#039bb9;;
    box-shadow: #000000 2px 2px 2px;
}

/* footer */
.footer{
    background: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    border: 1px solid #000;
    padding: 0px 12px;
    text-align: center;
    text-align: center;
}
.footer-info{
    width: 24%;
}
.footer-info img{
    width: 100%;
}
.footer-con{
 width: 24%;
}
.footer-nav{
     width: 24%;
    display: flex;
    flex-direction: column;
}
.footer-nav a{
    /* text-decoration: none; */
    color: black;
    padding: 2px 0px;
    
}
.footer-social{
 width: 24%;
}
