*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.search{
    position: absolute;
    background: rgba(0, 0, 0, 0.384);
    top: 20%;
    right: 5%;
    z-index: 3;
    padding: 20px;
    width: 25vw;
    min-height: 50vh;
    border-radius: 20px 0px;
    box-shadow: 2px 2px 2px rgb(3, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* for animation */
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 1s ease forwards 0.8s;
}
.search h2{
    font-size: 1.5vw;
    border-bottom: 3px solid rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 15px;
}

.search input {
    width: 100%;
    margin-top: 10px;
    font-size: 1vw;
    padding: 4px;
}

.search .btn1 {
    width: 100%;
    padding: 2px;
    font-size: 1vw;
    margin-top: 20px;
    border-radius: 5px;
}

.text-con{
    width: 40%;
    background: rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 10%;
    display: block;
    text-align: center;
    /* for animation */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards 0.5s;
}

.text-con h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
}

.text-con p{
    font-size: 2em;
}

.why{
    width: 100%;
    min-height: 30px;
    border: 1px solid lightgray;
    padding: 20px 0;
    overflow: hidden;
}

.why h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.why-mar{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.why-1 {
    height: 300px;
}

.why-1 .card-img {
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid lightgray;
}

/* Tablet and smaller laptops */
@media only screen and (max-width: 1024px) {
    .search {
        width: 30vw;
        right: 3%;
        padding: 15px;
    }
    
    .text-con h1 {
        font-size: 3em;
    }
    
    .text-con p {
        font-size: 1.5em;
    }
    
}

/* Tablet */
@media only screen and (max-width: 768px) {
    .search {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        width: 90%;
        max-width: 500px;
        height: auto;
        margin: 20px auto;
        padding: 20px;
    }
    
    .search h2 {
        font-size: 18px;
    }
    
    .search input {
        font-size: 14px;
        margin-top: 15px;
    }
    
    .search .btn1 {
        font-size: 14px;
    }
    
    .text-con {
        position: relative;
        top: auto;
        left: auto;
        margin: 20px auto;
        width: 90%;
    }
    
    .text-con h1 {
        font-size: 2.5em;
    }
    
    .text-con p {
        font-size: 1.5em;
    }
    
    .why-mar {
        gap: 10px;
    }
}


/* to add animation to the text dev and search dev */

/* Keyframes */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



.section-title h2 {
    letter-spacing: 4px;
    font-weight: 500;
    color: #7a6a58;
    /* border: 1px solid lightgray; */
}

.underline {
    width: 120px;
    height: 2px;
    background-color: #7a6a58;
    margin: 10px auto 0;
}