*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.search{
    position: absolute;
    background: #00000081;
    color: white;
    top: 33%;
    left: 70%;
    z-index: 100;
    padding: 20px;
    width: 25%;
    height: 400px;
    border-radius: 20px 0px;
    box-shadow: 2px 2px 2px rgb(3, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.search h2{
    border-bottom: 3px solid rgb(255, 255, 255);
}
